{% extends "base.html" %}

{% block content %}

<h1 class="title">Blog search</h1>
{% if not missing_index %}
{% if te_model_up %}
<section class="section">
    <div class="box has-background-warning-light">
        <p>
            <b>Try one of the following examples:</b>
        <ul>
            <li>How to find anomalies in location data?</li>
        </ul>
        </p>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p>
                    <div class="field">
                        {{ form.searchbox.label(class_="label") }}
                        {{ form.searchbox(size=32, class_="input is-info") }}
                    </div>
                    </p>
                </div>
                <div class="column is-one-fifth">
                    <p>
                    <div class="field">
                        {{ form.searchboxAuthor.label(class_="label") }}
                        {{ form.searchboxAuthor(size=1, class_="input is-info") }}
                    </div>
                    </p>
                </div>
            </div>
        {% if qa_model_up %}
            <p>
                {{ form.searchboxBlogWindow.label(class_="label") }}
                <div class="field">
                {{ form.searchboxBlogWindow(size=50, class_="textarea is-info") }}
            </div>
            </p>
        {% else %}
        <p>
            Note: NLP search only. Model for Q&A is not available.
        </p>
        <br>
        {% endif %}
        </div>
        </p>
        <p>{{ form.submit(class_="button is-info") }}</p>
    </form>
</section>

{% if search_results %}

<section class="section">
    <div class="container">
        Search Query: {{ query }}
        <hr>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Title">Title</abbr></th>
                <th><abbr title="Author">Author</abbr></th>
                <th><abbr title="Url">Url</abbr></th>
                <th><abbr title="Content">Content</abbr></th>
            </tr>
            </thead>
            {% for document in search_results %}

            <tr>
                <td>
                    {{ document.fields.title[0] }}
                </td>
                <td>
                    {% for author in document.fields.byline %}
                    {{ author }}</br> </br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ document.fields.url[0] }}" target="_blank">{{ document.fields.url[0] }}</a>
                </td>
                <td>
                    {{ document.fields.body_content_window[0] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endif %}

{% if qa_results %}
<section class="section">
    <div class="container">
        Search Query: {{ query }}
        <hr>
        Answer: <strong>{{ qa_results.predicted_value }}</strong></br>
        Start offset: <strong>{{ qa_results.start_offset }}</strong></br>
        End offset: <strong>{{ qa_results.end_offset }}</strong></br>
        Prediction probability: <strong>{{ qa_results.prediction_probability }}</strong></br>

    </div>
</section>
{% endif %}

{% else %}
<div class="box has-background-danger-light">
    <p>
        <strong> The NLP model ({{ model_name }}) required for this task is unavailable in Elasticsearch cluster. </br>Please make sure
            the model is up and running.</strong>
    </p>
</div>

{% endif %}

{% else %}
<div class="box has-background-danger-light">
    <p>
        <strong> The Index ({{ index_name }}) required for this task is unavailable in Elasticsearch cluster. </br>Please make sure
            the index is available.</strong>
    </p>
</div>
{% endif %}
{% endblock %}