{% extends "base.html" %}

{% block content %}

<h1 class="title">Classification</h1>

{% if model_up %}
<section class="section">
    <div class="box has-background-warning-light">
        <p>
            <b>Try one of the following examples:</b>
        <ul>
            <li>I didn't like the soundtrack from the movie Dune</li>
            <li>Elastic is the perfect platform for knowledgebase NLP applications</li>
            <li>Temperartures are average this year</li>
        </ul>
        </p>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
        <div class="field">
            {{ form.searchbox.label(class_="label") }}
            {{ form.searchbox(size=32, class_="input is-info") }}
        </div>
        </p>

        <p>{{ form.submit(class_="button is-info") }}</p>
    </form>
</section>

{% if search_results %}

<section class="section">
    <div class="container">
        Search Query: {{ query }}
        <hr>
        <p>
            Predicted value: <strong>{{ search_results.predicted_value }}</strong>
            {% if search_results.predicted_value == 'POSITIVE' %}
                <p style="font-size:100px">&#128513;</p>
            {% elif search_results.predicted_value == 'NEGATIVE' %}
                <p style="font-size:100px">&#128530;</p>
            {% endif %}
        </p>
        <p>
            Prediction probability: {{ search_results.prediction_probability}}
        </p>
    </div>
</section>

{% endif %}

{% else %}
<div class="box has-background-danger-light">
    <p>
        <strong> The NLP model ({{ model_name }}) required for this task is unavailable in Elasticsearch cluster. </br>Please make sure
            the model is up and running.</strong>
    </p>
</div>

{% endif %}

{% endblock %}