{% extends "base.html" %}

{% block content %}

<h1 class="title">Embeddings</h1>
{% if not missing_index %}
{% if model_up %}
<section class="section">
     <div class="box has-background-warning-light">
        <p>
            <b>Try one of the following examples:</b>
        <ul>
            <li>What was Jean Valjean prisoner number?</li>
            <li>How much could Jean Valjean sell the candlesticks?</li>
        </ul>
        </p>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
        <div class="field">
            {{ form.searchbox.label(class_="label") }}
            {{ form.searchbox(size=32, class_="input is-info") }}
        </div>
        </p>

        <p>{{ form.submit(class_="button is-info") }}</p>
    </form>
</section>

{% if search_results %}

<section class="section">
    <div class="container">
        Search Query: {{ query }}
        <hr>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Score">Score</abbr></th>
                <th><abbr title="Line">Line</abbr></th>
                <th><abbr title="Paragraph">Paragraph</abbr></th>
            </tr>
            </thead>
            {% for document in search_results %}

            <tr>
                <td>
                    {{ document._score }}
                </td>
                <td>
                    {{ document.fields.line[0] }}
                </td>
                 <td>
                    {{ document.fields.paragraph[0] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endif %}

{% else %}
<div class="box has-background-danger-light">
    <p>
        <strong> The NLP model ({{ model_name }}) required for this task is unavailable in Elasticsearch cluster. </br>Please make sure
            the model is up and running.</strong>
    </p>
</div>
{% endif %}

{% else %}
<div class="box has-background-danger-light">
    <p>
        <strong> The Index ({{ index_name }}) required for this task is unavailable in Elasticsearch cluster. </br>Please make sure
            the index is available.</strong>
    </p>
</div>
{% endif %}

{% endblock %}