{% extends "base.html" %}

{% block content %}
<h1 class="title">Similar Image</h1>
{% if not missing_index %}
{% if model_up %}
    {% if err %}
    <div class="box has-background-danger-light">
        <p>
            <strong>{{ err }}</strong>
        </p>
    </div>
    {% endif %}

<section class="section">
    <form method="post" enctype="multipart/form-data">
        <p>
        <div class="field">
            {{ form.hidden_tag() }}
            {{ form.file(size=32, class_="input is-info") }}
        </div>
        </p>
        <p>{{ form.submit(class_="button is-info") }}</p>
    </form>
</section>

    {% if search_results %}
    <section class="section">
        <div class="container">
            <img src="{{ original_file }}">
            <hr>
            <table class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th><abbr title="Photo Description">Title</abbr></th>
                    <th><abbr title="AI Description">AI description</abbr></th>
                    <th><abbr title="Photo Url">Photo URL</abbr></th>
                    <th><abbr title="Score">Score</abbr></th>
                    <th><abbr title="Photo">Photo</abbr></th>
                    <th><abbr title="Author">Author</abbr></th>
                </tr>
                </thead>
                {% for document in search_results %}

                <tr>
                    <td>
                        {{ document.fields.photo_description[0] }}
                    </td>
                    <td>
                        {{ document.fields.ai_description[0] }}
                    </td>
                    <td>
                        <a href="{{ document.fields.photo_url[0] }}" target="_blank">{{ document.fields.ai_description[0]
                            }}</a>
                    </td>
                    <td>
                        {{ document._score }}
                    </td>
                    <td>
                        <img src="{{ document.fields.photo_image_url[0] }}"
                             alt="{{ document.fields.photo_description[0] }}">
                    </td>
                    {% if document.fields.photographer_username is defined %}
                    <td>
                        <a href="https://unsplash.com/@{{ document.fields.photographer_username[0] }}"
                           target="_blank">@{{ document.fields.photographer_username[0] }}</a>
                        </br>
                        {{ document.fields.photographer_first_name[0] }} {{ document.fields.photographer_last_name[0] }}
                    </td>
                    {% else %}
                    <td>
                        N/A
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {% endif %}

{% else %}
<div class="box has-background-danger-light">
    <p>
        <strong> The NLP model ({{ model_name }}) required for this task is unavailable in Elasticsearch cluster. </br>Please make sure
            the model is up and running.</strong>
    </p>
</div>

{% endif %}

{% else %}
<div class="box has-background-danger-light">
    <p>
        <strong> The Index ({{ index_name }}) required for this task is unavailable in Elasticsearch cluster. </br>Please make sure
            the index is available.</strong>
    </p>
</div>
{% endif %}
<section class="section">
    <div class="box has-background-warning-light">
        <p>
            Image dataset used in the example application is the <a href="https://github.com/unsplash/datasets#lite-dataset" target="_blank">Lite dataset</a>
            from <a href="https://unsplash.com/data" target="_blank">Unsplash</a>. The dataset contains 25k nature-themed Unsplash photos.
        </p>
    </div>
</section>
{% endblock %}